body, h1, p {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: white;
    color: black;
    padding: 20px;
}

h1 {
    text-align: center;
    padding: 10px 0 30px 0px;
}

.light-theme {
    background-color: white;
    color: black;
}

.dark-theme {
    background-color: black;
    color: white;
}